<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link rel="stylesheet" href="posts/index_style.css" type="text/css">
</head>
<body>
  <h1>Hey, Welcome to my home page</h1>
  <div class="new-post">
    <h4 class="new-post-button"><%= link_to "Create a new post", new_post_path %></h4>
  </div>

  <div class="section-container">
    <div class="container">
      <% @posts.each do |post| %>
        <div class="post-container">
          <div class="post-title">
            <p>
              <h3>Title: <%= post.title %></h3>
              <%= link_to 'view post', post %>
            </p>
          </div>
          <div class="post-content">
            <h3 class="content-div">Content: </h3><%= post.content %>
          </div>
          <div class="post-comments-count">
            <span class="tag-rounded"><%= post.comments.count %> comments </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>
