<% content_for :page_title, @post.title %>

<section class="section">
  <div class="container">
    <nav class="level">
      <!-- Left Side -->
      <div class="level-container" style="padding-top: 5px;">
          <strong style="padding: 5px;">Actions: </strong>
          <%= link_to "Edit", edit_post_path(@post), class: "button" %> |
          <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "button-is-danger" %>
      </div>
    </nav>
    <br>
    <div class="content">
      <h3>Post: </h3>
      <%= raw(@post.content) %>
    </div>
  </div>
</section>

<section class="section comments">
  <div class="container">
    <h2 class="subtitle is-5"> <strong><%= @post.comments.count %></strong> Comments </h2>
    <%= render @post.comments %>
    <div class="comment-form">
      <hr/>
      <h3 class="subtitle is-3">Leave a reply</h3>
      <%= render 'comments/form' %>
    </div>
  </div>
</section>

<!-- <section class="back-button">
  <hr/>
  <div class="button">
    <%= link_to "Back to home", posts_path %>
  </div>
</section> -->
