<!DOCTYPE html>
<html>
  <head>
    <title>SauraBlog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render "layouts/navigation" %>

    <div class="main-body-left" id="main-div-body">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>



<!--My footer // -->
    <div class="container">
        <div class="text-center center-block">
            <p class="txt-railway">sauramandal.wordpress.com</p>
              <br />
                <a href="https://www.facebook.com/saura.mandal"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
    	           <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
    	           <a href="https://plus.google.com/u/0/105149871306601499119"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
    	           <a href="sauram@mindfiresolutions.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
    </div>
  </body>
</html>
